<!DOCTYPE html>
<html>
  <head>
    <title>Turmasite</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
     <%= javascript_include_tag 'https://media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.min.js' %>
    <%= javascript_include_tag 'https://media.twiliocdn.com/sdk/js/chat/v3.0/twilio-chat.min.js' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-t  rack': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>




  </head>

  <body>
        <%= render "layouts/navbar.html" %>

    <%= yield %>

                  <%= render "layouts/footer.html" %>
 
  </body>
</html>
